In [1]:
# project: p12
# submitter: yzhang2232
# partner: none
# hours: 4

In [1]:
import os
import requests
import pandas as pd
from pandas import DataFrame, Series
from bs4 import BeautifulSoup 
import json

In [2]:
def download(filename, url):
    # We do not download again if the file already exists
    if os.path.exists(filename):
        return (str(filename) + " already exists!")
    
    r = requests.get(url)
    assert(r.status_code == 200)
    data = r.text
    f = open(filename, "w", encoding = "utf-8")
    f.write(data)
    # TODO: Write the code to download the file from URL
    # and save it in `filename`
    # Make sure to call the function that checks for 200 status_code

    return (str(filename) + " created!")

In [3]:
download("rankings.json", "https://raw.githubusercontent.com/msyamkumar/cs220-f21-projects/main/p12/rankings.json")

'rankings.json already exists!'

In [4]:
rankings = pd.read_json("rankings.json")
rankings.head()

,World Rank,Year,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank,Score
0,1,2019-2020,Harvard University,USA,1,2.0,1.0,1.0,1.0,100.0
1,2,2019-2020,Massachusetts Institute of Technology,USA,2,1.0,10.0,2.0,5.0,96.7
2,3,2019-2020,Stanford University,USA,3,9.0,3.0,3.0,2.0,95.2
3,4,2019-2020,University of Cambridge,United Kingdom,1,4.0,19.0,5.0,11.0,94.1
4,5,2019-2020,University of Oxford,United Kingdom,2,10.0,24.0,10.0,4.0,93.3

In [6]:
#q1
country = rankings["Country"]
len(set(list(country)))

103

In [7]:
#q2
rankings[rankings["World Rank"] == 1]

,World Rank,Year,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank,Score
0,1,2019-2020,Harvard University,USA,1,2.0,1.0,1.0,1.0,100.0
2000,1,2020-2021,Harvard University,USA,1,3.0,1.0,1.0,1.0,100.0
4000,1,2021-2022,Harvard University,USA,1,1.0,1.0,1.0,1.0,100.0

In [8]:
#q3
uwmadison = rankings[rankings["Institution"] == "University of Wisconsin–Madison"]
uwmadison

,World Rank,Year,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank,Score
24,25,2019-2020,University of Wisconsin–Madison,USA,19,28.0,80.0,35.0,27.0,87.3
2025,26,2020-2021,University of Wisconsin–Madison,USA,20,34.0,93.0,34.0,31.0,87.2
4024,25,2021-2022,University of Wisconsin–Madison,USA,19,33.0,97.0,29.0,32.0,87.3

In [9]:
#q4
uwmadison[uwmadison["Year"] == "2021-2022"].iloc[0,4]

19

In [10]:
#q5
Series(uwmadison["Score"]).mean()

87.26666666666667

In [11]:
#q6
rankings[(rankings["Country"] == "Singapore") & (rankings["Year"] == "2020-2021")]

,World Rank,Year,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank,Score
2094,95,2020-2021,National University of Singapore,Singapore,1,330.0,165.0,NaN,41.0,82.0
2139,140,2020-2021,Nanyang Technological University,Singapore,2,NaN,996.0,NaN,75.0,80.3
3150,1151,2020-2021,Singapore University of Technology and Design,Singapore,3,NaN,NaN,NaN,1092.0,69.4
3286,1287,2020-2021,Singapore Management University,Singapore,4,NaN,NaN,NaN,1225.0,68.7

In [12]:
#q7
germany_top = rankings[(rankings["Country"] == "Germany") \
        & (rankings["Year"] == "2019-2020") \
        & (rankings["National Rank"] == 1)]
germany_top.iloc[0,2]

'Ludwig Maximilian University of Munich'

In [13]:
#q8
world_rank = germany_top.iloc[0,0]
better_rank = rankings[(rankings["Country"] == "USA") \
        & (rankings["Year"] == "2019-2020") \
        & (rankings["World Rank"] < world_rank)]
list(better_rank["Institution"])

['Harvard University',
 'Massachusetts Institute of Technology',
 'Stanford University',
 'Columbia University',
 'Princeton University',
 'University of California, Berkeley',
 'University of Pennsylvania',
 'University of Chicago',
 'California Institute of Technology',
 'Yale University',
 'Cornell University',
 'Northwestern University',
 'University of California, Los Angeles',
 'University of Michigan, Ann Arbor',
 'Johns Hopkins University',
 'University of Washington - Seattle',
 'University of Illinois at Urbana–Champaign',
 'Duke University',
 'University of Wisconsin–Madison',
 'New York University',
 'University of California San Diego',
 'University of Texas at Austin',
 'University of California, San Francisco',
 'University of North Carolina at Chapel Hill',
 'University of Minnesota - Twin Cities',
 'University of Texas Southwestern Medical Center',
 'Washington University in St. Louis',
 'University of Southern California',
 'Brown University',
 'Vanderbilt University',
 'Pennsylvania State University',
 'Rutgers University–New Brunswick',
 'Dartmouth College',
 'University of California, Davis']

In [14]:
#q9
china_2021_2022 = rankings[(rankings["Country"] == "China") \
        & (rankings["Year"] == "2021-2022")]
highest = Series(china_2021_2022["Quality of Education Rank"]).min()
china_2021_2022[china_2021_2022["Quality of Education Rank"] == highest].iloc[0,2]

'Fudan University'

In [15]:
#q10
india_2020_2021 = rankings[(rankings["Country"] == "India") \
        & (rankings["Year"] == "2020-2021")]
head_5 = india_2020_2021.sort_values(by = "Research Performance Rank").head(5)
list(head_5["Institution"])

['Indian Institute of Science',
 'Tata Institute of Fundamental Research',
 'Indian Institute of Technology Bombay',
 'University of Delhi',
 'Indian Institute of Technology Madras']

In [16]:
#q11
year_2019_ranking_df = rankings[rankings["Year"] == "2019-2020"]
year_2020_ranking_df = rankings[rankings["Year"] == "2020-2021"]
year_2021_ranking_df = rankings[rankings["Year"] == "2021-2022"]

set_2019 = set(year_2019_ranking_df["Institution"])
set_2020 = set(year_2020_ranking_df["Institution"])
set_2021 = set(year_2021_ranking_df["Institution"])

institution_2019_2020_2021 = set_2019.intersection(set_2020, set_2021) # TODO: find a list of all institutions which appear in all three DataFrames. See below Note.
len(institution_2019_2020_2021)

1856

In [17]:
institutions = []

for institution in institution_2019_2020_2021: # use your output list from Q11 here
    year_2019_ranking = list(year_2019_ranking_df[year_2019_ranking_df["Institution"] == institution]["World Rank"])[0] # TODO: use boolean indexing to find the "World Rank" for current institution in the year 2019
    year_2020_ranking = list(year_2020_ranking_df[year_2020_ranking_df["Institution"] == institution]["World Rank"])[0]# TODO: use boolean indexing to find the "World Rank" for current institution in the year 2020
    year_2021_ranking = list(year_2021_ranking_df[year_2021_ranking_df["Institution"] == institution]["World Rank"])[0] # TODO: use boolean indexing to find the "World Rank" for current institution in the year 2021
    # now let's create a dictionary representation of the institution
    # each key corresponds to the column of the DataFrame we want to build
    institutions.append({'Institution': institution, '2019_ranking': year_2019_ranking, '2020_ranking': year_2020_ranking, '2021_ranking': year_2021_ranking})
    
institutions_df = pd.DataFrame(institutions)
institutions_df

,Institution,2019_ranking,2020_ranking,2021_ranking
0,Medical University of Lodz,901,966,1014
1,University of Peradeniya,1312,1555,1600
2,University of Brasília,824,845,872
3,University of Bordeaux,488,244,243
4,Toho University,1069,1097,1095
...,...,...,...,...
1851,University of Idaho,697,741,751
1852,National Taiwan University,75,86,90
1853,Northwest Normal University,1458,1428,1414
1854,University of Göttingen,154,108,92
1855,National Chung Hsing University,597,662,696

In [18]:
#Q11.5
# set_index function enables us to set any column in the DataFrame as row indices
# to_json function enables us to convert the DataFrame into a JSON data structure
institutions_df.set_index('Institution').to_json('my_institutions.json')

In [19]:
#q12
institutions_df["2019_2021_difference"] = institutions_df["2019_ranking"] - institutions_df["2021_ranking"]
list(institutions_df[institutions_df["2019_2021_difference"] > 500]["Institution"])

['Antioch College',
 'Federal University of Mato Grosso do Sul',
 'Tôn Đức Thắng University',
 'International Institute for Management Development',
 'Academy of Scientific & Innovative Research',
 'USI - University of Italian Speaking Switzerland',
 'École nationale supérieure de chimie de Montpellier',
 'SOAS University of London',
 'Haverford College']

In [20]:
#q13
change_2019_2021 = Series(institutions_df["2019_2021_difference"])
greatest_change = change_2019_2021.abs().max()
list(institutions_df[institutions_df["2019_2021_difference"].abs() == greatest_change]["Institution"])[0]

'USI - University of Italian Speaking Switzerland'

In [21]:
#q14
institutions_df["2019_2020_difference"] = institutions_df["2019_ranking"] - institutions_df["2020_ranking"]
institutions_df["2020_2021_difference"] = institutions_df["2020_ranking"] - institutions_df["2021_ranking"]
len(institutions_df[(institutions_df["2019_2020_difference"] > 0) & (institutions_df["2020_2021_difference"] > 0)])

451

In [22]:
#q15
employment_10 = year_2020_ranking_df.sort_values("Alumni Employment Rank").head(10)
worldrank_10 = year_2020_ranking_df.sort_values("World Rank").head(10)
list(set(employment_10["Institution"]) - set(worldrank_10["Institution"]))

["École nationale d'administration",
 'University of Tokyo',
 'Institut Polytechnique de Paris',
 'China Europe International Business School',
 'International Institute for Management Development',
 'INSEAD',
 'HEC Paris']

In [23]:
#q16
year_2019_top100 = year_2019_ranking_df[year_2019_ranking_df["World Rank"] <= 100]["Institution"]
year_2021_top100 = year_2021_ranking_df[year_2021_ranking_df["World Rank"] <= 100]["Institution"]
list(set(year_2019_top100)-set(year_2021_top100))

['University of Groningen',
 'École Polytechnique Fédérale de Lausanne',
 'École normale supérieure',
 'University of Utah',
 'Paris-Sud University',
 'Tufts University',
 'Aarhus University',
 'University of California San Diego',
 'École Polytechnique',
 'Emory University',
 'University of Texas MD Anderson Cancer Center',
 'Paris Diderot University']

In [24]:
#q17
year_2020_top100_df = year_2020_ranking_df[year_2020_ranking_df["World Rank"] <= 100]
year_2020_top100_df["Country"].value_counts()[year_2020_top100_df["Country"].value_counts() >= 10].index.tolist()

['USA', 'United Kingdom']

In [25]:
download('2019-2020.html', 'https://raw.githubusercontent.com/msyamkumar/cs220-f21-projects/main/p12/2019-2020.html')

'2019-2020.html already exists!'

In [26]:
download('2020-2021.html', 'https://raw.githubusercontent.com/msyamkumar/cs220-f21-projects/main/p12/2020-2021.html')

'2020-2021.html already exists!'

In [27]:
download('2021-2022.html', 'https://raw.githubusercontent.com/msyamkumar/cs220-f21-projects/main/p12/2021-2022.html')

'2021-2022.html already exists!'

In [28]:
#q18
f = open("2019-2020.html", encoding='utf-8')
rank19_doc = BeautifulSoup(f.read(), 'html.parser')
f.close()
tables = rank19_doc.find_all("table")
assert len(tables) == 1
tbl = tables[0]
trs = tbl.find_all("tr")
assert len(trs) >= 2000
tr = trs[0].find_all("th")
table_name_list = []
for th in tr:
    table_name_list.append(th.get_text())
table_name_list

['World Rank',
 'Institution',
 'Country',
 'National Rank',
 'Quality of Education Rank',
 'Alumni Employment Rank',
 'Quality of Faculty Rank',
 'Research Performance Rank',
 'Score']

In [29]:
#q19
def parsing(filename):
    f = open(filename, encoding = 'utf-8')
    rank_doc = BeautifulSoup(f.read(), 'html.parser')
    f.close()
    file_list = []
    trs = rank_doc.find_all("tr")
    year = filename[:-5]
    for tr in trs:
        info = tr.find_all("td")
        if info != []:
            cell = {}
            cell["Year"] = year
            for i in range(len(info)):
                if info[i].get_text() != '-':
                    if table_name_list[i] in ['World Rank', 'National Rank', 'Quality of Education Rank', 'Alumni Employment Rank', 'Quality of Faculty Rank', 'Research Performance Rank']:
                        cell[table_name_list[i]] = int(info[i].get_text())
                    elif table_name_list[i] == "Score":
                        cell[table_name_list[i]] = float(info[i].get_text())
                    else:
                        cell[table_name_list[i]] = info[i].get_text()
                else:
                    cell[table_name_list[i]] = None
            file_list.append(cell)
    return file_list 

content_2019 = parsing("2019-2020.html")
content_2019[:5]

[{'Year': '2019-2020',
  'World Rank': 1,
  'Institution': 'Harvard University',
  'Country': 'USA',
  'National Rank': 1,
  'Quality of Education Rank': 2,
  'Alumni Employment Rank': 1,
  'Quality of Faculty Rank': 1,
  'Research Performance Rank': 1,
  'Score': 100.0},
 {'Year': '2019-2020',
  'World Rank': 2,
  'Institution': 'Massachusetts Institute of Technology',
  'Country': 'USA',
  'National Rank': 2,
  'Quality of Education Rank': 1,
  'Alumni Employment Rank': 10,
  'Quality of Faculty Rank': 2,
  'Research Performance Rank': 5,
  'Score': 96.7},
 {'Year': '2019-2020',
  'World Rank': 3,
  'Institution': 'Stanford University',
  'Country': 'USA',
  'National Rank': 3,
  'Quality of Education Rank': 9,
  'Alumni Employment Rank': 3,
  'Quality of Faculty Rank': 3,
  'Research Performance Rank': 2,
  'Score': 95.2},
 {'Year': '2019-2020',
  'World Rank': 4,
  'Institution': 'University of Cambridge',
  'Country': 'United Kingdom',
  'National Rank': 1,
  'Quality of Education Rank': 4,
  'Alumni Employment Rank': 19,
  'Quality of Faculty Rank': 5,
  'Research Performance Rank': 11,
  'Score': 94.1},
 {'Year': '2019-2020',
  'World Rank': 5,
  'Institution': 'University of Oxford',
  'Country': 'United Kingdom',
  'National Rank': 2,
  'Quality of Education Rank': 10,
  'Alumni Employment Rank': 24,
  'Quality of Faculty Rank': 10,
  'Research Performance Rank': 4,
  'Score': 93.3}]

In [30]:
#q20
content_2020 = parsing("2020-2021.html")
content_2021 = parsing("2021-2022.html")

content_2019.extend(content_2020)
content_2019.extend(content_2021)
def write_json(path, data):
    with open(path, 'w', encoding = 'utf-8') as f:
        json.dump(data, f, indent = 2)
write_json("my_rankings.json", content_2019)